[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = git@bitbucket.org:obihann/puppet-php.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = git@github.com:puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = git@bitbucket.org:obihann/puppet-mysql.git
[submodule "puppet/modules/base"]
	path = puppet/modules/base
	url = git@bitbucket.org:obihann/puppet-base.git
[submodule "modules/composer"]
	path = modules/composer
	url = git://github.com/tPl0ch/puppet-composer.git
[submodule "puppet/modules/composer"]
	path = puppet/modules/composer
	url = git://github.com/tPl0ch/puppet-composer.git
[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = git@github.com:example42/puppet-apache.git
[submodule "puppet/modules/mailcatcher"]
	path = puppet/modules/mailcatcher
	url = git@github.com:puphpet/puppet-mailcatcher.git
[submodule "puppet/modules/redis"]
	path = puppet/modules/redis
	url = git@github.com:fsalum/puppet-redis.git
[submodule "puppet/modules/solr"]
	path = puppet/modules/solr
	url = git@github.com:example42/puppet-solr.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = git@github.com:puppetlabs/puppetlabs-concat.git
[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = git@github.com:example42/puppi.git
